<div class="create-product-container">
  <h1>Create Product</h1>
  <form (ngSubmit)="createProduct()" #productForm="ngForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="product.name" required>

    <label for="detail">Detail:</label>
    <input type="text" id="detail" name="detail" [(ngModel)]="product.detail" required>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" [(ngModel)]="product.price" required>

    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="product.imageUrl" required>

    <button type="submit">Create Product</button>
  </form>
</div>
